.profile__displayname-wrapper {
  display: block;
  font-weight: 500;
  font-size: 27px;
  line-height: 1;
  margin:0;
  margin-top: calc(56px + 14px - 27px);
}


@media screen and (min-width:882px) {
  .profile__displayname-wrapper {
    margin-top: 0;
    font-size: 42px;
  }
}